.postContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(53, 55, 59, 1);
  background: rgba(39, 41, 45, 1);
  padding: 24px 20px;
  border-radius: 8px;
  margin-bottom: 16px;
  height: auto;
  transition: all 0.3s linear;

  .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    > div {
      display: flex;

      > div {
        margin-left: 16px;

        img {
          width: 44px;
          height: 44px;
          object-fit: contain;
        }

        h3 {
          font-size: 16px;
          font-weight: 500;
          line-height: 19.36px;
          text-align: left;
          color: rgba(197, 199, 202, 1);
          margin-bottom: 4px;
        }

        p {
          font-size: 14px;
          font-weight: 500;
          line-height: 16.94px;
          text-align: left;
          color: rgba(127, 128, 132, 1);
        }
      }
    }

    > img {
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.23s linear;
      border-radius: 100%;

      &:hover {
        transition: background-color 0.23s linear;
        background-color: rgba(19, 19, 25, 0.54);
      }

      &.active {
        transition: background-color 0.23s linear;
        background-color: rgba(19, 19, 25, 0.54);
      }
    }

  }

  .textArea {
    display: flex;
    background: rgba(25, 25, 32, 1);
    padding: 15px 16px;
    border-radius: 8px;
    margin: 16px 0;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 48px;
      height: 48px;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }

      span {
        position: relative;
        z-index: 1;
      }
    }

    p {
      margin-left: 16px;
      color: rgba(127, 128, 132, 1);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      max-width: 80%;

    }

  }

  .comment {
    display: flex;
    align-items: flex-start;

    width: fit-content;
    flex-direction: column;

    .commentCount {
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        font-size: 14px;
        font-weight: 500;
        line-height: 16.94px;
        text-align: left;
        color: rgba(127, 128, 132, 1);
        padding-left: 8px;
        transition: color 0.2s linear;
      }

      &:hover {
        span {
          transition: color 0.2s linear;
          color: rgb(220, 220, 224);
        }
      }
    }

    .commentList {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      padding-left: 30px;
    }
  }

  .menu {
    border-radius: 10px;
    background-color: rgba(19, 19, 25, 1);
    display: flex;
    flex-direction: column;
    position: absolute;
    width: fit-content;
    right: 0;
    top: 0;
    transform: translateY(50%);
    opacity: 0;
    transition: opacity 0.2s linear;
    overflow: hidden;


    &.visible {
      transition: opacity 0.2s linear;
      opacity: 1;
    }

    p {
      color: rgb(127, 128, 132);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      margin-bottom: 5px;
      padding: 10px 70px 10px 20px;
      transition: filter 0.23s linear;
      cursor: pointer;
      background-color: rgba(19, 19, 25, 1);
      filter: brightness(1);

      &:nth-of-type(1) {
        color: rgb(244, 33, 46);
      }

      &:hover {
        transition: filter 0.23s linear;
        background-color: rgba(19, 19, 25, 0.44);
        filter: brightness(2);
      }
    }
  }
}
